.MyForm {
    appearance: none;
    width: 70%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0;
    color: #000000;
    border-bottom: 2px solid gray;
    transition: border-color 0.3s;
    position: relative;
   
}

.MyForm:focus {
    border-color: #535bf2;
}