.myBtn {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color:  #646cffaa;
        cursor: pointer;
        transition: filter 0.25s;
        display: flex;
        margin-top: 20px;
        margin-left: 190px;
}

.myBtn:hover {
    filter: drop-shadow(0 0 1.2em #646cffaa);
  }